
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>İstatistik Sayfası</h2>
<div class="row">
    <div style="height: 150px; width: 200px; margin: 20px; background-color: #9faaf0; text-align: center">
        <br /> <p style="text-align:center">15</p>
        <h5>Toplam Kategori</h5>

    </div>
    <div style="height: 150px; width: 200px; margin: 20px; background-color: #b6ff00; text-align: center">
        <br /> <p style="text-align:center">30</p>
        <h5>Yazılım Kategorisine Ait Başlık Sayısı</h5>
    </div>
    <div class="block-body" style="height: 150px; width: 200px; margin: 20px; background-color: #FBD603; text-align: center ">
        <br />  <p style="text-align:center">5</p>
        <h5>A Harfi Geçen Yazar Sayısı</h5>
    </div>
    <div class="block-body" style="height: 150px; width: 200px; margin: 20px; background-color: #cc6a6a; text-align: center ">
       <br /> <p style="text-align:center">Spor</p>
        <h5>En Fazla Başlık Kategori</h5>
    </div>
    <div class="block-body" style="height: 150px; width: 200px; margin: 20px; background-color: #d17fc4; text-align: center ">
        <br /><p style="text-align:center">15</p>
        <h5>True ve False Sayısal Fark</h5>
    </div>
</div>


